
body {
  background-color: #010101df;
  z-index: 0;
}
#Navbar a:hover{
  font-size: 20px;
  color: white;
}

.navbar-dark{
  background-color: #512DA8;
}

.navbar .navbar-toggler i{
  color: white;
}

.navbar .navbar-toggler{
  color: floralwhite;
  border: 1px solid white;
}

.modal-header{
  background-color:#4a2492;
}

.modal-body{
  background-color:#ecd4fc;
}

.header {
  padding: 70px 30px 70px 30px;
  background: black;
}

.mine{
    border-radius: 65px;
    margin-top: 2em;
}

.hi{

  color: rgba(255, 355, 255, 0.80);
}
.hi span{
  color: white;
  text-align: left;
  font-style: italic;
}

html{
  scroll-behavior: smooth;
}

.footer{
  background-color: black;
  margin-top: 1em;
}

.footer li a{
  color: white;
  text-decoration: none;
}
.footer li a:hover{
  font-size: 20px;
  color: lightskyblue;
}

h5{
  margin-top: 1em;
  color: blue;
}

address {
color: floralwhite;
}

address a{
color: floralwhite;
}
.next{
  text-align: center;
  color: rgba(255, 355, 255, 0.80);
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 30px;
}
.resume{
  text-decoration: none;
  background-color: rgb(252, 199, 24);
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(255, 355, 255, 0.80);
}
.resume:hover{
  background-color: #4a2492;
  color: white;
  text-decoration: none;
}
.Experience{
  color: white;
}
.experience .skills{
  color: rgba(255, 355, 255, 0.80);
}
.Experience p{
  text-align: center;
}
.main{
  background-color: rgb(48, 47, 47);
}
.skillset{
  margin-left: 2em;
  justify-content: center;
  align-items: center;
}
.skillset h3{
  margin-bottom: 30px;
}
#jet{
  text-decoration: none;
  background-color: rgb(252, 199, 24);
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(255, 355, 255, 0.80);
  margin-left: 3em;
}
#jet:hover{
  background-color: #4a2492;
  color: white;
  text-decoration: none;
}
#let{
  text-decoration: none;
  background-color: rgb(252, 199, 24);
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(255, 355, 255, 0.80);
  margin-left: 3em;
}
#let:hover{
  background-color: #4a2492;
  color: white;
  text-decoration: none;
}

#about{
  color: rgba(255, 355, 255, 0.80);
  margin-top: 2em;
  margin-bottom: 1em;
}
.p05{
  text-align: center;
  color: white;
  margin-bottom: 2em;
}
label{
  color: white;
}
form{
  margin-top: 3em;
}
.me{
  text-decoration: none;
  background-color: rgb(252, 199, 24);
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(255, 355, 255, 0.80);
  margin-left: 6em;
}
.me:hover{
  background-color: #4a2492;
  color: white;
  text-decoration: none
}
.col-auto p{
  color: white;
}
.cen a{
  color: white;
}
.cen a:hover{
  color: blue;
  background-color: rgba(255, 355, 255, 0.80);
  border-radius: 50%;
  padding: 7px 10px;
}
.pro{
border-radius: 10px;
box-shadow: 5px 5px 5px 8px black;
background-color: black;
padding: 3px;
margin-top: 3em;
}
#pro{
  margin-top: 6em;
}
.pro h4{
  margin-top: 3px;
  font-size: 19px;
}
#text{
  color: grey;
  font-size: 13px;
}
#word{
  font-size: 13px;
}
.pro a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.code{
  margin-left: 2em;
}
.mains{
  text-decoration: none;
  background-color: rgb(252, 199, 24);
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(255, 355, 255, 0.80);
  margin-left: 6em;
}
.mains:hover{
  background-color: #4a2492;
  color: white;
  text-decoration: none
}
.pros{
  margin-bottom: 4em;
}